@import '../../style/variables.scss';

.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

    width: 120px;
    height: 120px;
    border: 10px solid $grey;

    animation: spinnerAnim 1.7s ease-in-out infinite;
    box-shadow: 0px 0px 10px #000;
}

.spinner::before{
    content: '';
    display: block;

    position: absolute;
    top: -15px;
    left: 50%;

    transform: translateX(-50%);

    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    width: 20px;
    height: 130px;
}

@keyframes spinnerAnim {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
        box-shadow: 0px 0px 3px #000;
    }
    50%{box-shadow: 0px 0px 15px #000;}
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
        box-shadow: 0px 0px 3px #000;
    }
}